@import url("https://fonts.googleapis.com/css?family=Roboto");

:root{
    --bg_color: white;
    --primary_color: aliceblue;
    --accent: #763a3a;
    /* --accent: #bfa181; */
}

body * {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(82, 75, 95);
    background-color: #fdfdfd;

    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
    height: 98vh;
    align-items: center;
    justify-content: space-between;
}

button:hover{
    cursor: pointer;
}

.container{

    /* border: 2px solid black; */
}

#screen{
    background-color: aliceblue;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    /* border: 1px solid black; */
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgb(73, 73, 73);
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    margin: 0%;
    padding: 0px 5px;
    margin-bottom: 10px;
    font-size: 32px;
    color: var(--accent);
}

.btn-container{
    /* border: 1px solid red; */
    /* width: 300px; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgb(73, 73, 73);
}
.btn-container *{
    padding: 0%;
    margin: 0%;
    /* flex: 1 0 auto; */
}

.btn-rows{
    /* border: 1px solid gold; */
    width: 100%;
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;

}

.btn-rows button{
    height: 100%;
    width: 75px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #f0f8ff;
    /* border-radius: 2px; */
    outline: none;
    border: 0.01px solid #dbe3ea;
}


#clear{
    width: 150px;
}
#clear:hover{
    background-color: red;
    color: aliceblue;
    border: none;
}
/* #clear, */
#zero{
    width: 225px;
}

#equal:hover{
    background-color: var(--accent);
    color: aliceblue;
    border: none;

}

.num-btns:hover{
    background-image: linear-gradient(#d0d8de5f 0 0);
}

.exp:hover, #sign_swt:hover{
    background-color: aquamarine;
    border: none;
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
}

a:visited{
    color: var(--accent);
}

/* TODO - support for mobile screens */

@media screen and (max-width: 767px) {
    footer{
        display: none;
    }
    .invisible{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
